html {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(230, 238, 255);
    margin: 0;
    height: 100%;
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-color {
    color:whitesmoke;
}

.center {
    text-align: center;
}

.middle {
    position: relative;
    top: 2em;
    background-color: rgb(49, 52, 54);
    width: 600px;
    height: 100em;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.5);
    border-radius: 10px 10px 0 0;
}

.recipes {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.recipe-name {
    font-size: 0.8rem;
}

.recipe-image {
    display: block;
    width: 20em;
    height: 20em;
    border-radius: 2px;
    object-fit: cover;
    margin: 0px auto;
}

.separator {
    display: block;
    height: 3px;
    width: 0%;
    margin: 20px auto 0;
    background-color: rgb(230, 238, 255);
    animation: appear 0.5s 0.1s forwards;
}

@keyframes appear {
    0% {width: 0%}
    100% {width: 100%}
}